h1 {
    color:red;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: blue;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.negritacursiva {
    font-weight: bold;
    font-style: italic;
}

.shadow {
    text-shadow: 2px 4px 6px #1162ac;
}

.centrado {
    text-align: center;
    line-height: 70px;
    letter-spacing: 3px;
    word-spacing: 10px;
}

div.fondoColor {
    background-color: blueviolet;
    padding: 20px;
}

.paddingPersonal {
    padding: 20px 0px 6px 40px;
    background-color: bisque;
}